body { background: #c4d8e9; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 55px; display: flex; }
.block-uploader-0 { color: #84f4df; font-size: 20px; margin-bottom: 5px; }
.block-cart-1 { color: #b8142f; font-size: 16px; margin-bottom: 5px; }
.block-user-2 { color: #70e9b7; font-size: 19px; margin-bottom: 5px; }
.block-database-3 { color: #bc6c57; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #ae8314; font-size: 21px; margin-bottom: 5px; }